#chat-messages {
    background: #292a2d;
    padding: 1em 1em 1em 1em;
    overflow: auto;
    height: 600px;
    width: 90%;
    max-width: 800px;
}

#chat-input {
    overflow: hidden;
    width: 90%;
    max-width: 800px;
}

.message {
    width:max-content;
    max-width: 500px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #c9c9d8;
    color: #292a2d;
}

.message.unread {
    background-color: #75757a;
}

.message-text {
    margin: 0;
    margin-bottom: 10px;
}

.message-date {
    margin: 0;
    font-size: 14px;
}

.sended-message {
    margin-left: auto; 
    margin-right: 0;
}

