#chats-container {
    padding: 10px;
    display: grid;
    grid-template-columns: 300px auto;
    background-color: #292a2d;
    border-radius: 5px;
}

#chats {
    height: 580px;
    overflow-y: scroll;
}

.chats-title {
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    margin: 0px;
}

.chat {
    display: grid;
    grid-template-columns: 50px 175px 25px;
    grid-gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #3b3d42;
    color: #c9c9d8
}

.chat-info p {
    word-wrap: normal;
    max-width: 188px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-unread-messages-count {
    align-self: center;
    width: 25px;
    height: 25px;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    border-radius: 100%;
    vertical-align: middle;
    background-color: #c9c9d8;
    color: #292a2d;
}

.active-chat {
    background-color: #c9c9d8;
    color: #292a2d;
}

.chat img {
    max-width: 50px;
    margin: 0;
    padding: 0;
}

.chat p {
    padding: 0;
    margin: 0;
}

#chat-messages {
    padding: 10px;
    overflow: auto;
    height: 520px;
}

.message {
    width: max-content;
    min-width: 180px;
    max-width: 500px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #3b3d42;
    color: #c9c9d8
}

.message-text {
    margin: 0;
    margin-bottom: 10px;
}

.message-info {
    display: grid;
    grid-template-columns: auto 40px;
}

.message-info p {
    margin: 0;
    font-size: 14px;
    margin-left: auto;
    margin-right: 0;
}

.sended-message {
    margin-left: auto;
    margin-right: 0;
}

#message-form {
    padding-left: 10px;
}

#message-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #3b3d42;
    color: #c9c9d8
}