#chat-messages {
    background: #292a2d;
    padding: 1em 1em 1em 1em;
    overflow: auto;
    height: 600px;
    width: 90%;
    max-width: 800px;
}

#chat-input {
    overflow: hidden;
    width: 90%;
    max-width: 800px;
}

.message {
    margin-bottom: 25px;
}

.sended-message {
    display: flex;
    justify-content: flex-end;
}
