body {
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #3b3d42;
    color: #a9a9b3;
}

.nav {
    padding: 10px;
    font-size: 20px;
    background-color: #252627;
}

a {
    color: #a9a9b3;
}

#category-title {
    font-size: 30px;
}

.post {
    margin: 0 15px 20px 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #292a2d;
}