body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Inter, -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #3b3d42;
    color: #a9a9b3;
}

a {
    color: #a9a9b3;
}

p {
    margin: 10px 0 10px 0;
    padding: 0;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #292a2d;
    padding: 10px;
    margin-right: 5px;
    font-size: 15px;
    color: #a9a9b3;
}

input, select, textarea {
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #a9a9b3;
    font-size: 16px;
    background-color: #292a2d;
    outline: none;
}

textarea {
    margin-top: 10px;
    width: 100%;
    resize: none;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: #a9a9b3;
    outline: 1px solid #3b3d42;
}

#app {
    padding: 20px;
}

.nav {
    padding: 10px;
    font-size: 20px;
    background-color: #252627;
}

.nav__link {
    padding: 15px;
    text-decoration: none;
}

#categories {
    margin-bottom: 10px;
}

#category-title {
    font-size: 40px;
    font-weight: 900;
    margin: 15px 0 15px 0;
}

.post {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #292a2d;
}

.post-link {
    font-size: 18px;
}

#posts-msg {
    font-size: 30px;
    margin-left: 20px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
}

#posts-navigation p {
    font-size: 20px;
}