#post-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

#post-categories {
    margin-bottom: 10px;
}

img {
    max-width: 500px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#post-data {
    margin-bottom: 20px;
}

.rate-info {
    display: flex;
}

.rate-number {
    padding: 0px 10px 0px 10px;
}

.rate-button {
    width: 35px;
    height: 35px;
    background-color: #3b3d42;
    color: #a9a9b3;
    padding: 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.rated {
    background-color: #a9a9b3;
    color: #3b3d42;
}

#post-info {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #292a2d;
}

#comments-title {
    font-size: 24px;
    font-weight: 600;
}

.post-comment {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #292a2d;
}

#comment-image-input {
    margin: 10px 0 20px 0;
}