#post-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

#post-categories {
    margin-bottom: 10px;
}

img {
    max-width: 500px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#post-data {
    margin-bottom: 20px;
}

.rate-info {
    display: flex;
}

.rate-number {
    padding: 0px 10px 0px 10px;
}

.rate-button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 30px;
    color: #91919b;
}

.rated {
    color: rgb(255, 255, 255);
}

#post-info {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #292a2d;
}

#comments-title {
    font-size: 24px;
    font-weight: 600;
}

.post-comment {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #292a2d;
}

#comment-image-input {
    margin: 10px 0 20px 0;
}